<!DOCTYPE html>
<html lang="en">
<head>
    <title>ForgotPasswordQuestion</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <form action="/forgot/question/user/<%= user.id%>" method="post">
        <div class="form-group">
            <input type="hidden" id="name" name="username" value=<%=user.username%>>
            <input type="hidden" id="name" name="userans" value=<%=user.ans%>>
            <label for="email">What’s your favorite fruit:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your password recovery answer" name="ans" required>
            <% if (messages.error) { %>
                <div class="alert alert-danger" role="alert"><%- messages.error %></div>
            <% } %>
        </div>
        <button type="submit" class="btn btn-primary">Ok</button>
    </form>
    <a href="/login" class="btn btn-sm btn-primary">Back to login</a>
</div>
</body>
</html>
