<!DOCTYPE html>
<html lang="en">
<head>
    <title>Super Sami Online</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css"/>
</head>
<body>
<div class="loginbox">
    <h1 style="text-align: center">Login</h1>
    <form action="/loginverify" method="post">
        <p>Username</p>
        <input type="text" placeholder="Enter Username" name="username" required >

        <b>Password</b>
        <input type="password" placeholder="Enter Password" name="password" required>

        <input type="submit" name=" " value="Login">
        <a href="/forgot/user" >Forgot Password</a><br>
        <a href="/registration">Sign In</a>
    </form>
</div>
</body>
</html>
