<!DOCTYPE html>
<html lang="en">
<head>
    <title>registration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Hello</h2>
    <form action="/save" method="post">
        <div class="form-group">
            <label for="name">ID:</label>
            <input type="text" class="form-control" id="pwd" placeholder="Enter ID" name="ID" >
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" required>
        </div>
        <div class="form-group">
            <label for="name">Last Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Last name" name="lastName" required>
        </div>
        <div class="form-group">
            <label for="name">Student ID:</label>
            <input type="text" class="form-control" id="pwd" placeholder="Enter student ID" name="StudentID" >
        </div>
        <div class="form-group">
            <label for="email">User name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter user name" name="username" required>
            <% if (messages.error) { %>
                <div class="alert alert-danger" role="alert"><%- messages.error %></div>
            <% } %>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="pwd" placeholder="Enter Password" name="password" required>
        </div>
        <div class="form-group">
            <label for="email">What’s your favorite fruit:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your password recovery answer" name="ans" required>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
<!--        <button></button>-->
    </form>
</div>
</body>
</html>