<!DOCTYPE html>
<html>
<style>
body{
background-image: url("https://www.findmymoney.co.il/wp-content/uploads/2018/12/magnifying-glass-1019982_640.jpg");
background-repeat:no-repeat;
background-size: 30%;
}

.daybox {
    width: 320px;
    height: 420px;
    top: 50%;
    left: 60%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    opacity: 1;
    color: white;
}
</style>

<head>
    <title>SuperSami Report</title>
</head>
<body>
<br>
<br>
<br>
    <div class="daybox">
        <form>
         <label>Date: </label>
         <input type="date"/><br>
         <input type="Submit" name="Submit"/><br>
     </form>
</div>

</body>
</html>